/* #canvas {
  width: 100% !important;
} */
/* #myModal .modal-content {
  max-width: 800px;
  overflow: auto;
} */

#myModal .modal-dialog {
  max-width: 90% !important;
}

/* #myModal .modal-body {
  overflow: auto;
} */
